.input-dt {
  position: relative;
  --input-dt-color: #000;
  --input-dt-background: #FFF;
  --input-dt-highlight: #47e;
  --input-dt-disable: #BBB;
  --input-dt-outside: #888;
  --input-dt-outside-visibility: hidden;
}
.input-dt_modal {
  position: absolute;
  left: 0;
  z-index: calc(infinity);
}
.input-dt_background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.input-dt_box {
}
.input-dt_box-date {
  position: absolute;
  top: 100%;
  width: 90vw;
  max-width: 300px;
  overflow: hidden;
  border: 1px solid grey;
  background-color: var(--input-dt-background);
  color: var(--input-dt-color);
}

.input-dt_header {
  display: flex;
}
.input-dt_dates {
  flex: 1;
  display: flex;
}
.input-dt_year-display,
.input-dt_month-display {
  flex: 1;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-family: sans-serif;
  white-space: nowrap;
}
.input-dt_prev,
.input-dt_next {
  display: grid;
  place-items: center;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}
.input-dt_prev::before,
.input-dt_next::before {
  content: '';
  display: block;
  border: .08em solid var(--input-dt-color);
  border-right-color: transparent;
  border-top-color: transparent;
  width: .6em;
  height: .6em;
}
.input-dt_prev::before {
  transform: rotateZ(45deg) translate(.15em,-.15em);
}
.input-dt_next::before {
  transform: rotateZ(-135deg) translate(.15em,-.15em);
}
.input-dt_calender {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.input-dt_cell-outside {
  color: var(--input-dt-outside);
  visibility: var(--input-dt-outside-visibility);
}
.input-dt_week-cell {
  overflow: hidden;
  padding: 5px;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  font-family: sans-serif;
  white-space: nowrap;
}
.input-dt_cell {
  border: 1px solid transparent;
  text-align: center;
  height: 2.5em;
  line-height: 2.5em;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  font-family: sans-serif;
  white-space: nowrap;
}
.input-dt_cell:not(.input-dt_cell-disabled):hover {
  border-color: var(--input-dt-highlight);
  cursor: pointer;
}
.input-dt_cell-selected {
  border-color: var(--input-dt-highlight);
  background-color: var(--input-dt-highlight);
  color: var(--input-dt-background);
}
.input-dt_cell-disabled {
  color: var(--input-dt-disable);
  cursor: not-allowed;
}

.input-dt_box-time {
  position: absolute;
  top: 100%;
  border: 1px solid grey;
  background-color: var(--input-dt-background);
  color: var(--input-dt-color);
  display: flex;
  max-width: 90vw;
}
.input-dt_select {
  max-height: 10em;
  overflow-y: scroll;
  box-sizing: border-box;
}
.input-dt_select-time {
  width: 100px;
}
.input-dt_select-time::before {
  display: block;
  position: sticky;
  top: 0;
  background-color: var(--input-dt-background);
  color: grey;
  text-align: center;
  width: 100%;
  height: 2em;
  line-height: 2em;
  -webkit-user-select: none;
  user-select: none;
  font-family: sans-serif;
  white-space: nowrap;
}
.input-dt_select-hour::before {
  content: 'hh';
}
.input-dt_select-minute::before {
  content: 'mm';
}
.input-dt_select-second::before {
  content: 'ss';
}
.input-dt_option {
  border: 1px solid transparent;
  text-align: center;
  height: 2em;
  line-height: 2em;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  font-family: sans-serif;
  white-space: nowrap;
  cursor: pointer;
}
.input-dt_option:hover {
  border-color: var(--input-dt-highlight);
}
.input-dt_option-selected {
  border-color: var(--input-dt-highlight);
  background-color: var(--input-dt-highlight);
  color: var(--input-dt-background);
}

.input-dt_film {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--input-dt-color);
  opacity: .4;
}
.input-dt_box-year,
.input-dt_box-month {
  background-color: var(--input-dt-background);
  position: absolute;
  top: 0;
  width: calc(50% - 2.5em);
  height: 10em;
}
.input-dt_box-year {
  left: 2.5em;
}
.input-dt_box-month {
  left: 50%;
}

.input-dt_modal:not(.input-dt_active),
.input-dt_film:not(.input-dt_active),
.input-dt_box:not(.input-dt_active),
.input-dt_select:not(.input-dt_active) {
  display: none;
}